<footer class="footer bg-dark py-3 mt-auto">
  <div class="container d-flex justify-content-between footer-links">
    <a href="https://courageous-cuchufli-816711.netlify.app/" target="_blank">My Portfolio</a>
    <span class="copyright text-secondary">&copy; YelpReview 2023</span>
    <a href="https://github.com/Kernix13/yelp-retreat" target="_blank">GitHub Code</a>
  </div>
</footer>