// @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&&family=Poppins:ital,wght@0,400;1,300;1,400&display=swap');

/*
font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
// I want to change this - maybe Open Sans instead of Poppins
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16x;
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', Palatino, Georgia, 'Lucida Bright', Garamond, Didot, 'Times New Roman', serif;
}


.card-title.index {
  font-size: 1.25rem;
}

.card-text.index {
  font-size: 0.875rem;
}

.small {
  font-size: 0.75rem;
  font-weight: 200;
}

.btn.index {
  font-size: 0.875rem;
}

.category {
  font-size: 1.5rem;
  padding: 2em 0 0.5em;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  opacity: 0.95;
}

.card-text {
  margin-bottom: 0.5em;
}

.mapboxgl-popup-content {
  background-color: #222;
  color: #fff;
  padding: 1em 2em;
}

.mapboxgl-popup-content a {
  color: rgb(0, 145, 255);
}
.mapboxgl-popup-content a:hover {
  color: rgb(83, 181, 255);
}
.mapboxgl-popup-content h6 {
  padding-right: 0.5em;
  text-align: left;
}
.mapboxgl-popup-content p {
  padding: 0;
  margin: 0;
}

.mapboxgl-popup-close-button {
  color: #fff;
  padding-top: 0.25em;
  padding-right: 0.25em;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.index-categories {
  list-style: none;
  margin: 0;
  padding: 0;
}

.index-map {
  width: 100%;
  height: 25em;
}

.category-list {
  margin-top: 3em;
}

.show-map {
  width: 100%;
  height: 20em;
}

/* SCROLL TO TOP BUTTON STYLES */
.scrollToTopBtn {
  border-radius: 50%;
  border: 1px solid white;
  font-size: 1.5rem;
  text-align: center;
  background-color: rgb(0, 0, 0);
  // background-color: rgb(33, 37, 41);
  color: white;
  border: none;
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  /* place it at the bottom right corner */
  position: fixed;
  bottom: 1em;
  right: 1em;

  opacity: 0;
  transform: translateY(100px);
  transition: all 500ms ease;

  /* keep it at the top of everything else */
  z-index: 100;
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}

.scrollToTopBtn span {
  display: block;
  margin: 0 auto 0.25em;
  width: 0;
  height: 0;
  border-left: 0.375em solid transparent;
  border-right: 0.375em solid transparent;
  border-bottom: 0.625em solid #fff;
}