<% layout('layouts/boilerplate') %>

<div class="container d0flex justify-content-center align-items-center mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow">
        <img
          src="../images/graphic-design-balance.jpg"
          alt="" class="card-img-top" />
        <div class="card-body">
          <h2 class="card-title">Login</h2>
          <form action="/login" method="POST" novalidate class="validated-form">
            <div class="mb-3">
              <label for="username" class="form-label">Username: </label>
              <input type="text" id="username" name="username" class="form-control border border-secondary" required />
              <div class="valid-feedback">Looks good!</div>
            </div>
          
            <div class="mb-3">
              <label for="password" class="form-label">Password: </label>
              <input type="password" id="password" name="password" class="form-control border border-secondary" required />
              <div class="valid-feedback">Looks good!</div>
            </div>
          
            <div class="mb-3 mt-4">
              <button class="btn btn-success">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>